#content {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.mice-on-sale {
    width: 7%;
    font-size: 1.3vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* border: outset var(--main-border-color) .5em; */
    padding: 5px;
    /* background-color: var(--main-bg-color);  */
}

#spacer {
    height: 30vh;
}

#reset-filter-button {
    width: 93.5%;
}

@media screen and (max-width: 600px){

    .mice-on-sale {
        width: 20%;
        font-size:5vw;
    }

    #traits {
        height: 40%;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 1700px){ 
    #spacer {
        height: 55vh;
    }
}