:root {
  --main-bg-color: #f4b83f;
  --main-border-color: #333333;
}

input {
  text-align: center;
  border: solid var(--main-border-color) .3em;
}

input:focus {
  outline: #4A69CE solid .25em;;
}

.heading {
  color: #fff;
  text-align: center;
}

.text-block {
  text-align: center;
}

.text-block-2 {
  text-align: center;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#main-title {
  color: var(--main-border-color);
}

#banner {
  border-bottom: solid 16px var(--main-border-color);
}

.button {
  background-color: #4A69CE;
  border: .3em solid var(--main-border-color);
}

#directory {
  font-size: 1.3vw;
  display: inline-block;
  background-color: var(--main-border-color);
  height: 80px;
  width: 100%;
  text-align: center;
  border-bottom: solid 1em var(--main-border-color);
}

#directory button {
  font-family: 'Pixel Font';

  vertical-align: top;
  color: white;
  margin-left: -5px;
  margin-right: -3px;
  padding-top: 4px;
  width: 13.6%;
  height: 100%;
}

#jump-to-directory {
  position: fixed;
  background-color: var(--main-border-color);
  border-left: solid .3em grey;
  border-top: solid .3em grey;
  color: white;
  padding: 5px;
  right: 0px;
  bottom: 0px;
}

#jump-to-directory:hover {
  cursor: pointer;
  background-color: rgb(184, 184, 184);
}

hr {
  background-color: var(--main-border-color);
  border: 0 var(--main-border-color);
  margin:0;
  padding: 8px;
}

#collection-stats {
  text-align: center;
}

.stats-box {
  font-size: 1.5vw;
  display: inline-block;
  height: 30%;
  background-color: var(--main-bg-color);
  color: var(--main-border-color);
  border-radius: .2em;
  border: outset 1em var(--main-border-color);
  width: 30%;
  height: 100%;
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 1em;
  text-align: center;
}

.stats-box h5{
  font-size: 2vw;
}

.stats-box img {
  height: 1.8vw;
  padding-right:10px;
  margin-bottom: 10px;
}

.floor {
  display: inline-block;
}

#volume {
  display: inline-block;
}

#og-tooltip:hover {
  cursor: pointer;
}

.mice-on-sale-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mice-image, .sold-mice-img {
  background-color: white;
  border: solid var(--main-border-color) .3em;
  margin:10px;
}

.sold-mice-img {
  margin-bottom: 15px;
  width: 80%;
}

.eth-logo {
  font-family: 'Arial';
  font-style: normal;
  font-weight: bolder;
  font-size: 1.3em;
}

.listing-eth-logo {
  font-family: 'Arial';
  font-style: normal;
  font-weight: bolder;
  font-size: 1em;
}


.click-info-eth-logo {
  font-family: 'Arial';
  font-style: normal;
  font-weight: bolder;
  font-size: 1em;
}

.button:hover{
  background-color:#849df0;
}

.heading-2 {
  text-align: center;
}

.heading-3 {
  text-align: center;
}

.heading-4 {
  text-align: center;
}

.section {
  background-color: var(--main-bg-color);
}

.body-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.footer {
  border-top: solid 16px var(--main-border-color);
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--main-bg-color);
}

#filter, #filter-results-count, #reset-filter-div {
  font-size: 1.3vw;
}

#jump-icon {
  cursor: pointer;
}

.mice-on-sale {
  min-width: 22%;
  font-size: 1.3vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: outset var(--main-border-color) .5em;
  padding: 5px;
  background-color: var(--main-bg-color);
}

.mice-on-sale:hover {
  border: outset grey .5em;
  background-color: #fcd17d;
  cursor: pointer;
}

.body-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-content {
  padding: 15px;
  border: solid var(--main-border-color) 1em;
  background-color: var(--main-bg-color);
}

#wallet {
  font-size: 1.3vw;
  text-align: center;
  background-color: white;
  border: .3em solid var(--main-border-color);
  color: black;
}

#wallet:hover {
  background-color:rgb(184, 184, 184);
}

#toolbar {
  position: absolute;
  display: inline;
  text-align: center;
  top: 5px;
  right: 5px;
}

#discord {
  width:4.5vw;
  height:4.5vh;
  margin-bottom: 2px;
}

#darkmodetoggle {
  cursor: pointer;
  width:4vw;
  height:5vh;
}

.hidden {
  display:none !important;
}

.hide-loading {
  display:none !important;
}

select {
  border: solid .3em var(--main-border-color);
  margin: 2px;
}

select:focus {
  outline: none;
}

#update-listing .button {
  text-align: center;
  width: 70%;
}

#create-listing .button {
  text-align: center;
  width: 70%;
}

#delist-button, #edit-button, #list-button {
  text-align: center;
  font-size: 1.8vw;
  width: 30%;
  height: 30%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: -webkit-box;
  display: -moz-box; 
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  align-items:center;
  justify-content:center;
}

#delist-button {
  float: left;
  margin-left: 3%;
}

#edit-button, #list-button {
  float: right;
  margin-right: 3%;
}

#edit-prompt, #create-listing-prompt {
  z-index: 9999;
  background-color: var(--main-bg-color);
  z-index: 9998;
  color:white;
  position:fixed;
  top:75px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 55vw;
  height: 85vh;
  border: outset 1em var(--main-border-color);
  padding: 5px;
  color: var(--main-border-color);
  text-align: center;
}

#current-info {
  font-size: 2vw;
  line-height: 3vw;
}

.updt-block input, .updt-block .button{
  font-size: 2vw;;
}

.updt-button {
  width:100%;
}

#click-info {
  background-color: var(--main-bg-color);
  z-index: 9998;
  color:white;
  position:fixed;
  top:75px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 55vw;
  height: 85vh;
  border: outset 1em var(--main-border-color);
  padding: 5px;
}

#click-info-header {
  color: var(--main-border-color);
  font-size: 2.5vw;
}

#click-info-spacer {
  color: var(--main-border-color);
  position: relative;
  min-height: 10%;
  font-size: 2vw;
}

#spacer-content {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50%;
  bottom: 25%; 
  line-height: 100%;
}

#close {
  position: absolute;
  padding: 1vw;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--main-border-color);
  text-align: right;
  cursor: pointer;
  font-size: 3vw;
  color: red;
  z-index: 9998;
}

#edit-back, #list-back {
  position: absolute;
  min-height: 4vw;
  position: fixed;
  top: 2vw;
  left: .4vw;
  text-align: right;
  cursor: pointer;
  font-size: 5vw;
  z-index: 9999;
  color: var(--main-border-color);
}

#img-container {
  height: 40%;
  position: relative;
}

.info-image {
  bottom: 0px;
  /* height: 80%; */
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  background-color: white;
  border: solid var(--main-border-color) 1em;
  display: block;
  margin:auto;
  width:14vw;
  height: 14vw;
}

#traits {
  height: 40%;
  text-align: center;
} 

.trait-box {
  font-size: 1.2vw;
  display: inline-block;
  position: relative;
  height: 33%;
  background-color: white;
  color: var(--main-border-color);
  margin: 4px;
  border-radius: .2em;
  border: solid .2em var(--main-border-color);
  width: 30%;
  text-align: center;
}


.trait-box-header {
  padding:.5vw;
  color: white;
  position: absolute;
  top: 0%;
  height: 35%;
  width: 100%;
  background-color: var(--main-border-color);
}

.trait-box-header:first-letter {
  text-transform: capitalize;
}

.trait-box-value {
  height: 65%;
  width: 100%;
  position: absolute;               
   top: 45%;
   text-align: center;
}

#trait-box-space-big-screen {
  display: none;
}

.question {
  color: white;
}

#footer {
  padding:10px;
}

#pending-transactions {
    text-align: center;
    min-width: 20%;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.loading-div {
  width: 100%;
  text-decoration: none;
  height: 80px;
  background-color: black;
  color: white;
  padding: 20px;
}

.etherscan-link {
  text-decoration: none;
}

tr td:first-child {
  width: 15%;
  white-space: nowrap;
}

#mice-sales-container {
  width:70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7vw;
  text-align: center;
}

#mice-sales-container table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 1em;
}

#mice-sales-container th, td {
  padding:.5vw;
  margin: .5vw;
  text-align: center;
}

.sale-row a, .sale-row p {
  text-decoration: none;
  color: #2542a3;

}

#error-popup {
  background-color: var(--main-bg-color);
  z-index: 9999;
  color: var(--main-border-color);
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55vw;
  height: 35vh;
  border: outset 1em var(--main-border-color);
  padding: 5px;
  font-size: 2.7vw;
}

#error-popup p {
  width: 100%;
  line-height: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sold-mice-img-container:hover{
  background-color: #fcd17d;
  cursor: pointer;
  /* width: 50%; */
}

#dark-twitter, #light-twitter {
  text-align: center;
}

#dark-twitter {
  display: none;
}

/* mobile */
@media screen and (max-width: 600px){

  h1 {
    font-size: 4.5vw;
  }

  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #wallet {
    width:90%;
    font-size:3.25vw;
  }

  .mice-on-sale, #filter, #reset-filter-div, #filter-results-count {
    font-size: 4vw;
  }

  #toolbar {
    position: absolute;
    width: 100%;
    top: 5px;
    right: 5px;
  }

  #darkmodetoggle {
    position: absolute;
    top: 0px;
    right: 0px;;
    width:7vw;
    height:7vw;
  }

  #discord {
    position: absolute;
    top: 1px;
    left: 4px;;
    width:6.3vw;
    height:6.3vw;
    margin-left: 8px;
  }

  #directory {
    height: 160px;
  }

  #directory button {
    vertical-align: top;
    font-size: 2.4vw;
    margin-left: 0;
    margin-right: 0;
    width: 20%;
    height: 50%;
  } 

  #jump-to-directory {
    text-align: center;
    width: 100%;
    font-size: 3vw;
    border-left: none;
  }

  #footer {
    font-size: 1.5vw;
  }

  .heading-4 {
    font-size:4vw;
  }

  .stats-box {
    font-size: 3vw;
  }
  
  .stats-box h5{
    font-size: 4vw;
  }

  .stats-box img {
    height: 6vw;
    padding-right:10px;
    margin-bottom: 10px;
  }


  
  #reset-filter-div {
    text-align: center;
  }

  #reset-filter-div button {
    width:100%;
    margin-top: 10px;
  }

  #filter-results-count-container {
    text-align: center;
  }

#edit-prompt, #create-listing-prompt {
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;;
  width: 95vw;
  height: 90vh;
}

#current-info {
  font-size: 1.5vh;
  line-height: initial
}

  /*needs work*/
  #click-info {
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;;
    width: 95vw;
    height: 90vh;
  }

  #click-info-header {
    font-size: 6.3vw;
  }

  #img-container {
    height: 20%;
  }

  .info-image {
    border: solid var(--main-border-color) .2em;
    height:70%;
    width: initial;

    margin-top: 3vh;
  }

  #delist-button, #edit-button, #list-button {
    width: 25%;
    font-size:1.2vh;
  }

.list-block {
    margin-top: 2vh;
    width: 100%;
  }

  #traits {
    height: 70%;
  }

  .trait-box {
    width: 95%;
    font-size: 1.2vh;
    height: 8%;
  }

  .trait-box-header {
    padding-bottom: 2vh;
    height: 40%;
  }

  .trait-box-value {
    height: 60%;
    top: 50%;
  }

  #trait-box-space {
    display: none;
  }

  #trait-box-space-big-screen {
    display: none;
  }

  #click-info-spacer {
    min-height: 7%;
  }

  #spacer-content {
  bottom: 20%; 

    font-size: 5vw;
  }

  #close {
    font-size: 5vw;
  }

  #pending-transactions {
    min-width: 85%;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #error-popup {
    width: 75vw;
    height: 15vh;
  }

  .sold-mice-img {
    margin-bottom: 0px;
    width: 80%;
  }
}

/*iPad*/
@media only screen and (device-width: 768px), (device-width: 834px), (device-width: 1024px) {

  #toolbar {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  #darkmodetoggle {
    position: absolute;
    top: 0px;
    right: 0px;;
    width:5.5vw;
    height:5.5vw;
  }

  #discord {
    position: absolute;
    top: 4.5vh;
    right: 4px;
    width:4.7vw;
    height:4.7vw;
    margin-left: 8px;
  }

  #directory {
    height: 120px;
  }

  #directory button {
    vertical-align: top;
    font-size: 1.5vw;
    margin-left: 0;
    margin-right: 0;
    width: 22%;
    height: 50%;
  } 

  .stats-box {
    font-size: 1.5vw;
  }
  
  .stats-box h5{
    font-size: 2vw;
  }

  .stats-box img {
    height: 3vw;
    padding-right:10px;
    margin-bottom: 10px;
  }

#edit-prompt, #create-listing-prompt {
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  top: 50px;;
  height: 95vh;
}

.updt-block, .list-block {
  margin-top: 2vh;
  width: 100%;
}

#current-info {
  font-size: 2vw;
}

  /*needs work*/
  #click-info {
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    top: 50px;;
    height: 95vh;
  }

  #click-info-header {
    font-size: 3.5vw;
  }

  #click-info-spacer {
    min-height: 10%;
  }

  #img-container {
    height: 22%;
  }

  #spacer-content {
    font-size: 1.4em;
  }

  #traits {
    height: 80%;
  }

  .trait-box {
    height: 7.5%;;
    width: 95%;
    font-size: 1.5vw;
  }

  .trait-box-header {
    padding-bottom: 1.5vh;
  }

  #trait-box-space-big-screen {
    display: none;
  }

  #trait-box-space {
    display: none;
  }

  #close {
    font-size: 4.5vw;
  }
}

/*Weird huge screens*/
@media screen and (min-width: 1700px){
  #directory {
    font-size: 1.1vw;
  }

  #directory button {
    height: 10%;
  }

  .stats-box {
    font-size: .7vw;
  }

  #edit-prompt h3, #create-listing-prompt {
    font-size: 2vw;
  }


.updt-block, .list-block {
  text-align: center;
  font-size: 1.5vw;
  width: 100%;
  height: 20%;
}

.updt-button {
  width:50%;
  height: 15%;
}
  
  .stats-box h5{
    font-size: .9vw;
  }

  #click-info-header {
    font-size: 2vw;
  }

  .sold-mice-img {
    margin-bottom: 30px;
    width: 80%;
  }

  #trait-box-value {
    line-height: 2vw;
  }

  #trait-box-space-big-screen {
    display: block;
  }
}