:root {
  --main-bg-color: #f4b83f;
  --main-border-color: #333333;
}

input {
  text-align: center;
  border: solid var(--main-border-color) .3em;
}

input:focus {
  outline: #4A69CE solid .25em;;
}

.heading {
  color: #fff;
  text-align: center;
}

.text-block {
  text-align: center;
}

.text-block-2 {
  text-align: center;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#banner {
  border-bottom: solid 16px var(--main-border-color);
}

.button {
  background-color: #4A69CE;
  border: .3em solid var(--main-border-color);
}

#directory {
  display: inline-block;
  background-color: var(--main-border-color);
  height: 80px;
  width: 100%;
  text-align: center;
  border-bottom: solid 1em var(--main-border-color);
}

#directory button {
  vertical-align: top;
  color: white;
  margin-left: -5px;
  margin-right: -3px;
  padding-top: 4px;
  width: 19.6%;
  height: 100%;
}

#jump-to-directory {
  position: fixed;
  background-color: var(--main-border-color);
  border-left: solid .3em grey;
  border-top: solid .3em grey;
  color: white;
  padding: 5px;
  right: 0px;
  bottom: 0px;
}

#jump-to-directory:hover {
  cursor: pointer;
  background-color: rgb(184, 184, 184);
}

hr {
  background-color: var(--main-border-color);
  border: 0 var(--main-border-color);
  margin:0;
  padding: 8px;
}

#collection-stats {
  text-align: center;
}

.stats-box {
  font-size: 1vw;
  display: inline-block;
  height: 30%;
  background-color: var(--main-bg-color);
  color: var(--main-border-color);
  border-radius: .2em;
  border: outset 1em var(--main-border-color);
  width: 30%;
  height: 100%;
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 1em;
  text-align: center;
}

.stats-box h5{
  font-size: 1.3vw;
}

.stats-box img {
  height: 1.8vw;
  padding-right:10px;
  margin-bottom: 10px;
}

.floor {
  display: inline-block;
}

#volume {
  display: inline-block;
}

.mice-on-sale-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mice-image {
  background-color: white;
  border: solid var(--main-border-color) .3em;
  margin:10px;
}

.eth-logo {
  font-family: 'Arial';
  font-style: normal;
  font-weight: bolder;
  font-size: 1.7em;
}

.listing-eth-logo {
  font-family: 'Arial';
  font-style: normal;
  font-weight: bolder;
  font-size: 1.3em;
}


.click-info-eth-logo {
  font-family: 'Arial';
  font-style: normal;
  font-weight: bolder;
  font-size: 1.3em;
}

.button:hover{
  background-color:#849df0;
}

.heading-2 {
  text-align: center;
}

.heading-3 {
  text-align: center;
}

.heading-4 {
  text-align: center;
}

.section {
  background-color: var(--main-bg-color);
}

.body-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.footer {
  border-top: solid 16px var(--main-border-color);
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--main-bg-color);
}

#jump-icon {
  cursor: pointer;
}

.mice-on-sale {
  min-width: 22%;;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: outset var(--main-border-color) .5em;
  padding: 5px;
  background-color: var(--main-bg-color);
}

.mice-on-sale:hover {
  border: outset grey .5em;
  background-color: #fcd17d;
  cursor: pointer;
}

.body-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-content {
  padding: 15px;
  border: solid var(--main-border-color) 1em;
  background-color: var(--main-bg-color);
}

#wallet {
  background-color: white;
  border: .3em solid var(--main-border-color);
  color: black;
}

#wallet:hover {
  background-color:rgb(184, 184, 184);
}

#toolbar {
  position: absolute;
  display: inline;
  text-align: center;
  top: 5px;
  right: 5px;
}

#discord {
  width:3.5vw;
  height:3.5vh;
}

#darkmodetoggle {
  cursor: pointer;
  width:4vw;
  height:4vh;
}

.hidden {
  display:none !important;
}

.hide-loading {
  display:none !important;
}

select {
  border: solid .3em var(--main-border-color);
  margin: 2px;
}

select:focus {
  outline: none;
}

#click-info {
  background-color: var(--main-bg-color);
  z-index: 9999;
  color:white;
  position:fixed;
  top:75px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 55vw;
  height: 85vh;
  border: outset 1em var(--main-border-color);
  padding: 5px;
}

#click-info-header {
  color: var(--main-border-color);
  font-size: 2.5vw;
}

#click-info-spacer {
  color: var(--main-border-color);
  position: relative;
  min-height: 10%;
  font-size: 2vw;
}

#spacer-content {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50%;
  bottom: 25%; 
  line-height: 100%;
}

#close {
  position: absolute;
  min-height: 4vw;
  position: fixed;
top: 2vw;
right: .4vw;
  text-align: right;
  cursor: pointer;
  font-size: 3vw;
  color: red;
  z-index: 9999;
}

#img-container {
  height: 40%;
  position: relative;
}

.info-image {
  bottom: 0px;
  height: 80%;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  background-color: white;
  border: solid var(--main-border-color) 1em;
  display: block;
  margin:auto;
}

#traits {
  height: 40%;
  text-align: center;
} 

.trait-box {
  font-size: 1vw;
  display: inline-block;
  position: relative;
  height: 33%;
  background-color: white;
  color: var(--main-border-color);
  margin: 4px;
  border-radius: .2em;
  border: solid .2em var(--main-border-color);
  width: 30%;
  text-align: center;
}


.trait-box-header {
  padding:.5vw;
  color: white;
  position: absolute;
  top: 0%;
  height: 35%;
  width: 100%;
  background-color: var(--main-border-color);
}

.trait-box-value {
  height: 65%;
  width: 100%;
  position: absolute;               
   top: 50%;
   text-align: center;
}

.question {
  color: white;
}

#footer {
  padding:10px;
}

#pending-transactions {
    text-align: center;
    min-width: 20%;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.loading-div {
  width: 100%;
  text-decoration: none;
  height: 80px;
  background-color: black;
  color: white;
  padding: 20px;
}

/* mobile */
@media screen and (max-width: 600px){

  h1 {
    font-size: 4.5vw;
  }

  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #wallet {
    width:90%;
    font-size:2.45vw;
  }

  #toolbar {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  #darkmodetoggle {
    width:8vw;
    height:8vw;
  }



  #discord {
    width:7vw;
    height:7vw;
    padding-left: 4px;
  }

  #directory {
    height: 80px;
  }

  #directory button {
    vertical-align: top;
    font-size: 2vw;
    margin-left: 0;
    margin-right: 0;
    width: 17%;
    height: 100%;
  } 

  #jump-to-directory {
    text-align: center;
    width: 100%;
    font-size: 3vw;
    border-left: none;
  }

  #footer {
    font-size: 1.5vw;
  }

  .heading-4 {
    font-size:4vw;
  }

  .stats-box {
    font-size: 3vw;
  }
  
  .stats-box h5{
    font-size: 4vw;
  }

  .stats-box img {
    height: 6vw;
    padding-right:10px;
    margin-bottom: 10px;
  }

  #reset-filter-div {
    text-align: center;
  }

  #reset-filter-div button {
    width:100%;
    margin-top: 10px;
  }

  #filter-results-count-container {
    text-align: center;
  }

  /*needs work*/
  #click-info {
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;;
    width: 95vw;
    height: 90vh;
  }

  #click-info-header {
    font-size: 6.3vw;
  }

  #img-container {
    height: 20%;
  }

  .info-image {
    border: solid var(--main-border-color) .5em;
    height: 75%;
    margin-top: 3vh;
  }

  #traits {
    height: 70%;
  }

  .trait-box {
    width: 95%;
    font-size: 1.2vh;
    height: 8%;
  }

  .trait-box-header {
    padding-bottom: 2vh;
    height: 40%;
  }

  .trait-box-value {
    height: 60%;
  }

  #click-info-spacer {
    min-height: 7%;
  }

  #spacer-content {
  bottom: 20%; 

    font-size: 5vw;
  }

  #close {
    font-size: 5vw;
  }

  #pending-transactions {
    min-width: 85%;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/*iPad*/
@media only screen and (device-width: 768px), (device-width: 1024px) {

  #toolbar {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  #discord {
    width:5vw;
    height:5vw;
  }

  #directory {
    height: 60px;
  }

  #directory button {
    vertical-align: top;
    font-size: 1.5vw;
    margin-left: 0;
    margin-right: 0;
    width: 17%;
    height: 100%;
  } 

  .stats-box {
    font-size: 1.5vw;
  }
  
  .stats-box h5{
    font-size: 2vw;
  }

  .stats-box img {
    height: 3vw;
    padding-right:10px;
    margin-bottom: 10px;
  }
  /*needs work*/
  #click-info {
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    top: 50px;;
    height: 95vh;
  }

  #click-info-header {
    font-size: 3.5vw;
  }

  #click-info-spacer {
    min-height: 10%;
  }

  #img-container {
    height: 22%;
  }

  #spacer-content {
    font-size: 1.4em;
  }

  #traits {
    height: 80%;
  }

  .trait-box {
    height: 7.5%;;
    width: 95%;
    font-size: 1.5vw;
  }

  .trait-box-header {
    padding-bottom: 1.5vh;
  }

  #close {
    font-size: 4.5vw;
  }
}

/*Weird huge screens*/
@media screen and (min-width: 1700px){
  .stats-box {
    font-size: .7vw;
  }
  
  .stats-box h5{
    font-size: .9vw;
  }

  #click-info-header {
    font-size: 2vw;
  }
}