

#breeding-mice-images, #available-mice-images, #baby-mice-images, .parent-images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


.parent-container, .baby-container {
    border: outset var(--main-border-color) .5em;
    padding: 5px;
    margin:10px;
    width: 31%;
    height: 100%;
    font-size: 1.3vw;
}

#approval-section {
    font-size:1.3vw;
}

.parent-container input, .baby-container input{
    width:100%;
}

#breed-button{
    font-size: 1.3vw;
    width: 30%;
    text-align: center;
}

#available-mice-images {
    font-size: 1.3vw;
}

.mice-on-sale.active {
    background-color: #9dafec;
    cursor: pointer;
  }

.parent-images img {
    border: none;
    background-color: transparent;
    margin-bottom:5px;
}

.baby-img svg{
    border:none;
    background-color: transparent;
    padding: 5px;
}

.parent-images div {
    width:40%;
    margin:5px;
}

.breed-instructions {
    font-size: 2vw;
    line-height: 2.1vw;
    text-align: center;
}

#selected-for-breeding {
    font-size: 1.8vw;
    line-height: 1.9vw;
    text-align: center;
}

/* mobile */
@media screen and (max-width: 600px){
    .parent-container, .baby-container {
        border: outset var(--main-border-color) .5em;
        padding: 5px;
        margin:10px;
        width: 100%;
        height: 100%;
        font-size: 4vw;;
    }

    #available-mice-images {
        font-size: 4vw;
    }

    #breed-button, .button{
        font-size: 4vw;
        width: 85%;
        text-align: center;
    }

    .breed-instructions {
        font-size: 4vw;
        line-height: 4.1vw;
    }
    
    #selected-for-breeding {
        font-size: 4vw;
    }
}

@media screen and (min-width: 1700px){ 

    .button, #breed-button, input{
      font-size: 1vw;
      width: 100%;
    }

    .parent-container, .baby-container {
        width: 45%;
        height: 45%;
        line-height: 2vh;
        font-size: 1vw;

    }

    .parent-images p{
        font-size: .8vw;
    }

    .breed-instructions {
        font-size: 2vw;
        line-height: 2.1vw;
    }
    
    #selected-for-breeding {
        font-size: 1.7vw;
        line-height: 1.8vw;
    }
  }