:root.dark {
    --main-dark-bg-color: #181719;
    /* --secondary-dark-bg-color: #232830;
     */
     --secondary-dark-bg-color: #26242B;
    --main-dark-border-color: #464545;
  }

.dark {
    color:white;
}

body.dark {
    background-color: var(--main-dark-bg-color);
}

input.dark {
    color: black;
    border: solid var(--main-dark-border-color) .3vw;
}

input.dark:focus {
    outline: white solid .1em;;
  }

select.dark {
    border: solid .3vw var(--main-dark-border-color);
  }

#main-title.dark {
    color: white;
}

.eth-logo.dark {
    fill: white;
}

#discord.dark {
    fill: white;
  }

#og-tooltip.dark {
    fill: white;
}

#jump-icon.dark {
    fill: white;
}

#directory.dark {
    /* border-bottom: solid 1em var(--main-dark-border-color); */
    /* background-color: var(--main-dark-border-color); */
    background-color: var(--secondary-dark-bg-color);

}

.listed-mice-price.dark {
    background-color: rgba(136, 90, 245, 0.637);
}

#jump-to-directory.dark {
    background-color: var(--secondary-dark-bg-color);
    border-left: solid .3vw var(--main-dark-border-color);
    border-top: solid .3vw var(--main-dark-border-color);
    border-radius: .2em;
    color:white;
}

#jump-to-directory.dark:hover {
    background-color: rgb(184, 184, 184);
  }

#directory.dark button {
    border: solid .3vw var(--main-dark-bg-color);
    background-color: rgba(136, 90, 245, 0.637);
    
}

#directory.dark button:hover {
    background-color: rgba(190, 168, 241, 0.637);
}

.body-div.dark {
    background-color: var(--secondary-dark-bg-color);
}

.body-section.dark {
    background-color: var(--main-dark-bg-color);
}

.section.dark {
    background-color: var(--secondary-dark-bg-color);
}

.footer.dark {
    border-top: solid .3vw var(--main-dark-border-color);
    background-color: var(--secondary-dark-bg-color);
}

div#wallet-div.body-div.dark {
    background-color: var(--secondary-dark-bg-color);
}

#wallet.dark {
    background-color: var(--main-dark-border-color);
    border: .3vw solid white;
    color: white;
}

#wallet.dark:hover {
    background-color:rgb(184, 184, 184);
}

#approveButton {
    font-size: 1.3vw;
}

.stats-box.dark {
    background-color: var(--secondary-dark-bg-color);
    border-color: var(--main-dark-border-color);
    border-style: outset;
}

.stats-box.dark h5 {
    color: white;
}

.stats-box.dark p {
    color: white;
}

#click-info.dark {
    background-color: var(--secondary-dark-bg-color);
    border: outset 1vw var(--main-dark-border-color);
}

#edit-prompt.dark, #create-listing-prompt.dark {
    color: white;
    background-color: var(--main-dark-bg-color);
    border: outset 1vw var(--main-dark-border-color);
}

#edit-back.dark, #list-back.dark  {
    color: white;
}

#edit-prompt.dark input{
    color: black;
}

#create-listing-prompt.dark input {
    color: black;
}

/* .parent-images.dark img {
    border: none;
    background-color: var(--secondary-dark-bg-color);
} */
/* 
.baby-img.dark svg{
    border: solid white .3vw;
    background-color: var(--secondary-dark-bg-color);
} */

#click-info-header.dark {
    color: white;
}

.button.dark {
    background-color: var(--main-dark-border-color);
    border: .3vw solid white;
}
  
.button.dark:hover{
    background-color:rgb(184, 184, 184);
}

select.dark {
    background-color: var(--main-dark-bg-color);
    border: solid .3vw white;
    color: white;
}

.main-content.dark {
    padding: 15px;
    border: outset var(--main-dark-border-color) .3vw;
    background-color: var(--secondary-dark-bg-color);
}

.main-content.dark .body-div.dark {
    background-color: var(--main-secondary-bg-color);
}

/* .mice-on-sale.dark {
    background-color: var(--main-dark-bg-color);
    border: outset var(--main-dark-border-color) .5em;
} */

.mice-image.dark, .sold-mice-img.dark {
    background-color: var(--secondary-dark-bg-color);
    border: solid white .3vw;
}

.mice-on-sale.dark:hover {
    background-color: #9494a5e1;
    /* border: outset var(--main-dark-border-color) .5em; */
    cursor: pointer;
  }

.mice-on-sale.dark.active {
    background-color: #9494a5e1;
    /* border: outset var(--main-dark-border-color) .5em; */
    cursor: pointer;
}

.info-image.dark {
    background-color: var(--secondary-dark-bg-color);
    border: solid darkgray 1vw;
    display: block;
    margin:auto;
}

.trait-box.dark {
    background-color: var(--main-dark-border-color);
}

.trait-box-header.dark {
    color: black;
    background-color: white;
}

.trait-box-value.dark {
    border: solid .3vw white;

}

.loading-div.dark {
    background-color: white;
    color: black;
  }

#error-popup.dark {
    background-color: var(--main-dark-bg-color);
    border-color: var(--main-dark-border-color);
    color: white;
}

#error-popup.dark p {
    background-color: var(--main-dark-bg-color);
}

.sold-mice-img-container.dark:hover {
    background-color: rgb(184, 184, 184);
}

.sale-row.dark a, .sale-row.dark p{
    text-decoration: none;
    color: rgb(0, 217, 255);
  }

#dark-twitter.dark {
    display: block;
}

#light-twitter.dark {
    display: none;
}

/* mobile */
@media screen and (max-width: 600px){
    #jump-to-directory.dark {
        border-left: none;
    }
}