:root.dark {
    --main-dark-bg-color: #0A0A0B;
    --secondary-dark-bg-color: #232830;
    --main-dark-border-color: grey;
  }

.dark {
    color:white;
}

input.dark {
    color: black;
    border: solid var(--main-dark-border-color) .3em
}

input.dark:focus {
    outline: white solid .25em;;
  }

select.dark {
    border: solid .3em var(--main-dark-border-color);
  }

.eth-logo.dark {
    fill: white;
}

#discord.dark {
    fill: white;
  }

#og-tooltip.dark {
    fill: white;
}

#jump-icon.dark {
    fill: white;
}

#directory.dark {
    border-bottom: solid 1em var(--main-dark-border-color);
    background-color: var(--main-dark-border-color);
}

#jump-to-directory.dark {
    background-color: var(--main-dark-border-color);
    border-left: solid .3em black;
    border-top: solid .3em black;
}

#jump-to-directory.dark:hover {
    background-color: rgb(184, 184, 184);
  }

#directory.dark button {
    border: solid .3em var(--main-dark-border-color);
    background-color: black;
}

#directory.dark button:hover {
    background-color: rgb(184, 184, 184);
}

.body-div.dark {
    background-color: var(--secondary-dark-bg-color);
}

.body-section.dark {
    background-color: var(--secondary-dark-bg-color);
}

.section.dark {
    background-color: var(--main-dark-bg-color);
}

.footer.dark {
    border-top: solid 16px var(--main-dark-border-color);
    background-color: var(--main-dark-bg-color);
}

div#wallet-div.body-div.dark {
    background-color: var(--main-dark-bg-color);
}

hr.dark {
    background-color: var(--main-dark-border-color);
    border: 0 var(--main-dark-border-color);
    margin:0;
    padding: 8px;
}

#banner.dark {
    border-bottom: solid 16px var(--main-dark-border-color);
  }

#wallet.dark {
    background-color: var(--main-dark-border-color);
    border: .3em solid white;
    color: white;
}

#wallet.dark:hover {
    background-color:rgb(184, 184, 184);
}

.stats-box.dark {
    background-color: var(--main-dark-bg-color);
    border-color: var(--main-dark-border-color);
    border-style: outset;
}

.stats-box.dark h5 {
    color: white;
}

.stats-box.dark p {
    color: white;
}

#click-info.dark {
    background-color: var(--main-dark-bg-color);
    border: outset 1em var(--main-dark-border-color);
}

#click-info-header {
    color: white;
}

.button.dark {
    background-color: var(--main-dark-border-color);
    border: .3em solid white;
}
  
.button.dark:hover{
    background-color:rgb(184, 184, 184);
}

select.dark {
    background-color: var(--main-dark-bg-color);
    border: solid .3em white;
    color: white;
}

.main-content.dark {
    padding: 15px;
    border: outset var(--main-dark-border-color) 1em;
    background-color: var(--main-dark-bg-color);
}

.main-content.dark .body-div.dark {
    background-color: var(--main-dark-bg-color);
}

.mice-on-sale.dark {
    background-color: var(--main-dark-bg-color);
    border: outset var(--main-dark-border-color) .5em;
}

.mice-image.dark {
    background-color: var(--secondary-dark-bg-color);
    border: solid white .3em;
}

.mice-on-sale.dark:hover {
    background-color: #9494a5e1;
    border: outset var(--main-dark-border-color) .5em;
    cursor: pointer;
  }

.info-image.dark {
    background-color: var(--secondary-dark-bg-color);
    border: solid darkgray 1em;
    display: block;
    margin:auto;
}

.trait-box.dark {
    border: solid .2em white;
    background-color: var(--main-dark-border-color);
}

.trait-box-header.dark {
    color: black;
    background-color: white;
}

.question.dark {
    color: var(--main-dark-border-color);
}

.loading-div.dark {
    background-color: white;
    color: black;
  }

#error-popup.dark {
    background-color: var(--main-dark-bg-color);
    border-color: var(--main-dark-border-color);
    color: white;
}

#error-popup.dark p {
    background-color: var(--main-dark-bg-color);
}

.sale-row.dark:hover {
    background-color: rgb(184, 184, 184);
}

/* mobile */
@media screen and (max-width: 600px){
    #jump-to-directory.dark {
        border-left: none;
    }
}