#mice-tracker {
    text-align: center;
}

.stake-stats {
    width: 23%;
}

#pending-balance-container *{
    text-align: center;
}

#pending-balance-text {
    width: 55%;
    height: 100%;
}

#your-pending-cheeth {
    animation: blinker 1.2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#claim-cheeth-button {
    width: 35%;
    height: 100%;
    font-size: 1.3vw;
}

.body-section .button {
  text-align: center;
  width: 35%;
}

#main-staking-content {
  font-size: 1.3vw;
}

#staked-mice-images, #available-mice-images {
  font-size: 1.3vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width:100%;
}

.mice-on-sale.active {
    /* border: outset grey .5em; */
    background-color: #fcd17d;
    cursor: pointer;
  }


/* mobile */
@media screen and (max-width: 600px){
  #staked-mice-images, #available-mice-images {
    font-size: 4vw;
  }

  #claim-cheeth-button {
    width: 85%;
    font-size: 4vw;
  }

  .body-section .button {
    width: 85%;
  }

  #main-staking-content {
    font-size: 4vw;
  }
}

@media screen and (min-width: 1700px){ 

  .button, #claim-cheeth-button{
    font-size: 1vw;
  }
}